<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!-- 注入hibernateBaseDao -->
	<bean id="hibernateBaseDao" class="com.zl.frame.core.dao.impl.HibernateBaseDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 用户信息管理 -->
	<bean id="userDao" class="com.zl.frame.sysman.userman.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 角色管理 -->
	<bean id="roleDao" class="com.zl.frame.sysman.roleman.dao.impl.RoleDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 资源（菜单节点）管理 -->
	<bean id="resourceDao" class="com.zl.frame.sysman.resourceman.dao.impl.ResourceDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 用户组管理 -->
	<bean id="userGroupDao" class="com.zl.frame.sysman.usergroupman.dao.impl.UserGroupDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<!-- 组织机构管理 -->
	<bean id="orgInfoDao" class="com.zl.frame.sysman.orgman.dao.impl.OrgInfoDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 认证日志管理 -->
	<bean id="accessLogDao" class="com.zl.frame.sysman.logman.dao.impl.AccessLogDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 操作日志管理 -->
	<bean id="operationLogDao" class="com.zl.frame.sysman.logman.dao.impl.OperationLogDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
    
</beans>
