tree-checkbox-disabled0{
	background: url('tree_icons.png') no-repeat -272px -18px;   
}
tree-checkbox-disabled1{
	background: url('tree_icons.png') no-repeat -272px 0;   
}
tree-checkbox-disabled2{
	background: url('tree_icons.png') no-repeat -288px 0;   
}
